
.boardsquare {
	text-align:center;
	vertical-align: middle;
	width: 44px;
	height:44px;
}

.selectedboardsquare {
	background-color: pink;
}

#tablemove tr td {
	text-align:center;
	width:60px;
	height:60px;
}
