body {
	background-color:wheat;/*antiquewhite;*/
}

.boardsquare {
	text-align:center;
	vertical-align: middle;
	width: 44px;
	height:44px;
	color:black;
}

.boardsquareleft {
	background-color:saddlebrown;
}

.boardsquareright {
	background-color:rosybrown;
}

.selectedboardsquare {
	background-color: pink;
}

#tablemove tr td {
	text-align:center;
	width:60px;
	height:60px;
}

.boardsquareprevmove {
	/*background-color:#835C3B;*/
	border-color:tan !important;
}
#divAItextoutput {
	font-family: 'Robot';
}

@font-face {
	font-family: RobotReg;
	src: url(Robot-Regular.ttf);
}

#divAItextoutput {
	font-family:RobotReg;
}